body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
        margin: 1rem;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}
header {
    margin: 0 2rem;
    background-color: #688;
    color: #fefefe;
    padding: .3rem;
    h2 {
        font-size: 1.5em;
        font-weight: 300;
    }
}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    .completeBadge {
        background-color: salmon;
    }
    .pendingBadge {
        background: #688;
    }
    form {
        border: 1px solid #eee;
        border-radius: .2em;
        padding: 1em;    
        display:flex;
        flex-direction:column;
        margin-right: 2em;

        .form-control {
            margin-bottom: 1em;
        }
        label {
            display: flex;
            flex-direction:column;
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {
            .toast {

                margin-bottom: 1em;
                min-width: 40vw;
                cursor:pointer;
                .badge {
                    margin-right: 2em;
                }
                &:hover {
                    background: rgba(250, 128, 114, 0.5);
                }

                .toast-header {
                    display: flex;

                    strong {
                        margin-right: auto;
                    }

                    button {
                        background: transparent;
                        border:none;
                        cursor:pointer;
                        align-self: flex-end;
                    }
                }
            }

            &.complete-true {
                .toast {
                // background-color: #0000000f;
                  &:hover {
                     background: rgba(102, 136, 136, 0.5);
                  }
                }
              }
        }
    }

}

.navbar-brand {
    margin-left: 1rem;
}

.navbar {
    margin-bottom: 1rem;
    font-weight: 300;
}